# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.build/
dist/

# venv
.venv/
.env/
.venv-*/

# notebooks
.ipynb_checkpoints/

# results/cache/data
analysis/
cache/
data/
results/
tar/

# OS
.DS_Store
Thumbs.db

# markdowns and notebooks
playing.ipynb
jupyter/

# logs
logs/

# PowerShell scripts
*.ps1

# Weird cluster outputs
spi_array.*

# Random things
data_backup.tar.gz
# *.ipynb
cml_kur.ipynb
Random/
*.tar.gz