# Core Scientific Stack
numpy
pandas
scipy
scikit-learn
matplotlib
seaborn

# Time Series Libraries
sktime>=0.30.0
aeon
yfinance

# Dependencies for your project
pyspi
umap-learn
pyclustering
xarray
pyyaml
tqdm
psutil
pyarrow
JPype1
dtw-python
fastdtw
dtaidistance